/** include **/
.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

/** Colors **/
/** preview for color **/
.color__org {
  display: flex;
  flex-wrap: wrap;
}
.color__mol {
  display: flex;
  margin: 8px;
}
.color__mol.info {
  flex-direction: column;
  justify-content: center;
  color: #c6cbce;
}
.color__atm {
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  border: 2px solid #44484b;
  border-radius: 8px;
  color: white;
}
.color__atm.base {
  background-color: white;
  color: #6e7377;
}
.color__atm.base .figure {
  color: gray;
}
.color__atm.main {
  background-color: #53a6c7;
}
.color__atm.accent {
  background-color: #cf5da0;
}
.color__atm.gray {
  background-color: #6e7377;
}
.color__atm.grayLight {
  background-color: #c6cbce;
}
.color__atm.grayDark {
  background-color: #44484b;
}
