<div class='wrap'>
  <section class='section colors'>
    <div class='org__color'>
      <div class='mol__color'>
        <div class='atm__color {{ className }}'>
          <div class='atm__color figure'>
            {{ className }}<br>
          </div>
        </div>
            {{ sassName}}<br>
            {{ color }}
      </div>
  </section>
</div>