@charset "UTF-8";
/** include **/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");
.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

/** Colors **/
/** preview for color **/
.color__org {
  display: flex;
  flex-wrap: wrap;
}
.color__mol {
  display: flex;
  margin: 8px;
}
.color__mol.info {
  flex-direction: column;
  justify-content: center;
  color: #c6cbce;
}
.color__atm {
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  border: 2px solid #c6cbce;
  border-radius: 8px;
  color: white;
}
.color__atm.base {
  background-color: white;
  color: #6e7377;
}
.color__atm.base .figure {
  color: gray;
}
.color__atm.main {
  background-color: #53a6c7;
}
.color__atm.accent {
  background-color: #cf5da0;
}
.color__atm.gray {
  background-color: #6e7377;
}
.color__atm.grayLight {
  background-color: #c6cbce;
}
.color__atm.grayDark {
  background-color: #44484b;
}

.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  margin: 0px;
}

.mx-0 {
  margin: auto 0px;
}

.m-4 {
  margin: 4px;
}

.p-4 {
  margin: 4px;
}

.mx-4 {
  margin: auto 4px;
}

.m-8 {
  margin: 8px;
}

.p-8 {
  margin: 8px;
}

.mx-8 {
  margin: auto 8px;
}

.m-12 {
  margin: 12px;
}

.p-12 {
  margin: 12px;
}

.mx-12 {
  margin: auto 12px;
}

.m-16 {
  margin: 16px;
}

.p-16 {
  margin: 16px;
}

.mx-16 {
  margin: auto 16px;
}

.m-20 {
  margin: 20px;
}

.p-20 {
  margin: 20px;
}

.mx-20 {
  margin: auto 20px;
}

.m-24 {
  margin: 24px;
}

.p-24 {
  margin: 24px;
}

.mx-24 {
  margin: auto 24px;
}

.m-28 {
  margin: 28px;
}

.p-28 {
  margin: 28px;
}

.mx-28 {
  margin: auto 28px;
}

.m-32 {
  margin: 32px;
}

.p-32 {
  margin: 32px;
}

.mx-32 {
  margin: auto 32px;
}

.m-36 {
  margin: 36px;
}

.p-36 {
  margin: 36px;
}

.mx-36 {
  margin: auto 36px;
}

.m-40 {
  margin: 40px;
}

.p-40 {
  margin: 40px;
}

.mx-40 {
  margin: auto 40px;
}

.m-44 {
  margin: 44px;
}

.p-44 {
  margin: 44px;
}

.mx-44 {
  margin: auto 44px;
}

.m-48 {
  margin: 48px;
}

.p-48 {
  margin: 48px;
}

.mx-48 {
  margin: auto 48px;
}

/* * Break Point
 * *  min-width
 * *     sm: 480px
 * *     md: 768px
 * *     lg: 1024px
 * *     xl: 1440px
 * * min-width = max-width + 1px
 * */
/** Example **/
/** reset **/
*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  line-height: 1.5;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-justify: inter-ideograph;
  zoom: 1;
}

/** Link **/
a {
  text-decoration: none;
  color: #25303b;
}

/** image **/
img {
  width: 100%;
}

/** Global Wrapping Style  **/
#previewArea {
  min-height: 100vh;
  font-size: 1.6rem;
  color: white;
  background-color: #25303b;
}
#previewArea.onColorLight {
  background-color: white;
  color: #25303b;
  animation: fade 0.9s;
}

@keyframes fade {
  0% {
    background-color: #25303b;
  }
  100% {
    background-color: white;
  }
}
.wrap {
  padding: 3.2rem 0 1.6rem;
  font-size: 1.6rem;
}

.section {
  padding: 20px 24px 0;
}

#toggleMode_area {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 3;
}

#toggleMode {
  font-family: "Nova Mono", monospace;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  color: ghostwhite;
  background: black;
  border-radius: 20px;
  font-size: 1.4rem;
  box-shadow: 0 0 4px grey;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  use-select: none;
  cursor: pointer;
  transition: 0.2s;
}
#toggleMode:hover {
  opacity: 0.7;
}
#toggleMode.on {
  background: orange;
  color: white;
}

#windowSizeView_area {
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0.9;
  z-index: 3;
}
#windowSizeView_area #windowSizeView {
  font-family: "Nanum Gothic Coding", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  padding: 0.1rem 0.8rem;
  font-size: 1.4rem;
  border: 1px solid #c6cbce;
  border-radius: 1.4rem;
  background-color: rgba(255, 192, 203, 0.9);
}
#windowSizeView_area #windowSizeView.sm {
  background-color: rgba(135, 206, 235, 0.9);
}
#windowSizeView_area #windowSizeView.md {
  background-color: rgba(30, 35, 37, 0.9);
  color: ghostwhite;
}
#windowSizeView_area #windowSizeView.lg {
  background-color: rgba(0, 255, 0, 0.9);
}
#windowSizeView_area #windowSizeView.xl {
  background-color: rgba(255, 255, 0, 0.9);
}

.card {
  margin: 24px;
  border: 1px solid #c6cbce;
}
.card .card_textArea {
  padding: 1.2rem 2.4rem;
}

/** include **/
.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

/** Button default **/
button {
  border: none;
}

button.btn {
  padding: 0;
  border-radius: 2em;
  transition: 0.3s;
}
button.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0.5em 1.5em;
  min-height: 44px;
  font-size: 1.6rem;
}
button.btn:hover {
  opacity: 0.85;
}
button.btn.success {
  background-color: teal;
}
button.btn.success a {
  color: white;
}
button.btn.warning {
  background-color: orange;
}
button.btn.warning a {
  color: white;
}
button.btn.danger {
  background-color: tomato;
}
button.btn.danger a {
  color: white;
}
button.btn.min {
  min-width: auto;
}
button.btn.normal {
  min-width: 120px;
}
button.btn.middle {
  min-width: 320px;
}
button.btn.large {
  min-width: 480px;
}
button.btn.full {
  min-width: 100%;
}

.head {
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.head_1 {
  font-size: 3.2rem;
}
.head_2 {
  font-size: 2.8rem;
}
.head_3 {
  font-size: 2.4rem;
}
.head_4 {
  font-size: 2.2rem;
}
.head_5 {
  font-size: 2rem;
}
