@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");
/** include **/
/** include **/
.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

/** Colors **/
/** preview for color **/
.color__org {
  display: flex;
  flex-wrap: wrap;
}
.color__mol {
  display: flex;
  margin: 8px;
}
.color__mol.info {
  flex-direction: column;
  justify-content: center;
  color: #c6cbce;
}
.color__atm {
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  border: 2px solid #44484b;
  border-radius: 8px;
  color: white;
}
.color__atm.base {
  background-color: white;
  color: #6e7377;
}
.color__atm.base .figure {
  color: gray;
}
.color__atm.main {
  background-color: #53a6c7;
}
.color__atm.accent {
  background-color: #cf5da0;
}
.color__atm.gray {
  background-color: #6e7377;
}
.color__atm.grayLight {
  background-color: #c6cbce;
}
.color__atm.grayDark {
  background-color: #44484b;
}

.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

/** reset **/
*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  line-height: 1.5;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Link **/
a {
  text-decoration: none;
  color: #25303b;
}

.modeActive {
  background: white;
}

.mg-1 {
  margin: 12px;
}

.pd-1 {
  padding: 12px;
}

/** Global Wrap **/
.wrap {
  min-height: 100vh;
  font-size: 1.6rem;
}

.section {
  padding: 20px 24px 0;
}

/** include **/
.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

/** Colors **/
/** preview for color **/
.color__org {
  display: flex;
  flex-wrap: wrap;
}
.color__mol {
  display: flex;
  margin: 8px;
}
.color__mol.info {
  flex-direction: column;
  justify-content: center;
  color: #c6cbce;
}
.color__atm {
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  border: 2px solid #44484b;
  border-radius: 8px;
  color: white;
}
.color__atm.base {
  background-color: white;
  color: #6e7377;
}
.color__atm.base .figure {
  color: gray;
}
.color__atm.main {
  background-color: #53a6c7;
}
.color__atm.accent {
  background-color: #cf5da0;
}
.color__atm.gray {
  background-color: #6e7377;
}
.color__atm.grayLight {
  background-color: #c6cbce;
}
.color__atm.grayDark {
  background-color: #44484b;
}

.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

/** include **/
.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

/** Button default **/
button {
  border: none;
}

button.btn {
  padding: 0;
  border-radius: 2em;
  transition: 0.3s;
}
button.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.5em;
  min-height: 44px;
  font-size: 1.6rem;
}
button.btn:hover {
  opacity: 0.85;
}
button.btn.success {
  background-color: teal;
}
button.btn.success a {
  color: white;
}
button.btn.warning {
  background-color: orange;
}
button.btn.warning a {
  color: white;
}
button.btn.danger {
  background-color: tomato;
}
button.btn.min {
  min-width: auto;
}
button.btn.normal {
  min-width: 120px;
}
button.btn.middle {
  min-width: 320px;
}
button.btn.large {
  min-width: 480px;
}

.head {
  line-height: 1.85;
  font-weight: 500;
}
.head_1 {
  font-size: 3.2rem;
}
.head_2 {
  font-size: 2.8rem;
}
.head_3 {
  font-size: 2.4rem;
}
.head_4 {
  font-size: 2.2rem;
}
.head_5 {
  font-size: 2rem;
}
