.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  line-height: 1.5;
}

/** reset **/
*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
}

/** Colors **/
/** Link **/
a {
  text-decoration: none;
  color: #25303b;
}

/** Button **/
button {
  border: none;
}

.mg-1 {
  margin: 12px;
}

.pd-1 {
  padding: 12px;
}

/** Global Wrap **/
.wrap {
  min-height: 100vh;
  background-color: white;
  font-size: 1.6rem;
}
.wrap-def {
  background-color: white;
}
.wrap-dark {
  background-color: #25303b;
  color: white;
}

.section {
  padding: 20px 24px 0;
}

.org__color {
  display: flex;
  flex-wrap: wrap;
}

.mol__color {
  display: flex;
  margin: 8px;
}

.atm__color {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.atm__color.figure {
  text-align: center;
  font-size: 12px;
  border: 1px solid #aaa;
}
.atm__color.base {
  background-color: white;
}
.atm__color.base .figure {
  color: gray;
}
.atm__color.main {
  background-color: #53a6c7;
}
.atm__color.accent {
  background-color: #cf5da0;
}

.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.fx-c {
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  background: teal;
  color: white;
  font-size: 24px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header.min {
  height: 36px;
  font-size: 18px;
  background: orange;
}

button.btn {
  padding: 0;
  border-radius: 2em;
}
button.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.5em;
  min-height: 44px;
  font-size: 1rem;
}
button.btn.success a, button.btn.warning a, button.btn.danger a {
  color: white;
}
button.btn.success {
  background-color: teal;
}
button.btn.warning {
  background-color: orange;
}
button.btn.danger {
  background-color: tomato;
}
button.btn.min {
  min-width: auto;
}
button.btn.normal {
  min-width: 120px;
}
