/** reset **/
*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
}

.mg-1 {
  margin: 12px;
}

.pd-1 {
  padding: 12px;
}

.wrap {
  min-height: 100vh;
  background-color: white;
}

.wrap-def {
  background-color: white;
}
.wrap-dark {
  background-color: #123;
}

.header {
  padding: 12px;
  text-align: center;
  background: deeppink;
  color: white;
  font-size: 20px;
}
