<div class='wrap wrap-dark'>
  <section class='section colors'>
    <div class='org__color'>
      <div class='mol__color'>
        <div class='atm__color base'>
          <div class='atm__color figure'>
            Base<br>
            $white<br>
            #fff
          </div>
        </div>
      </div>
      <div class='mol__color'>
        <div class='atm__color main'>
          <div class='atm__color figure'>
            Main<br>
            $main<br>
            #53a6c7
          </div>
        </div>
      </div>
      <div class='mol__color'>
        <div class='atm__color accent'>
          <div class='atm__color figure'>
            Accent<br>
            $accent<br>
            #cf5da0
          </div>
        </div>
      </div>
    </div>
  </section>
</div>