<div class='wrap wrap-dark'>
  <section class='section'>
    <div class='color__org'>
      <div class='color__mol'>
        <div class='color__atm {{ className }}'>
          <p>{{ className }}</p>
        </div>
      </div>
      <div class='color__mol info'>
        <p>Sass: {{ sassName }}</p>
        <p>Color: {{ color }}</p>
      </div>
  </section>
</div>